@{
    ViewBag.Title = "Document Logs";
    Layout = "~/Areas/Shared/Views/_Layout.cshtml";
    ViewBag.User = Model.Employee.Fullname;
   
}


@section Scripts{
    <script src="~/Content/js/information-management/document-log/index.js"></script>
    <script src="~/Content/lib/datatable/jquery.dataTables.js"></script>
    <script src="~/Content/lib/datatable/dataTables.bootstrap4.js"></script>

}

@model Web.Areas.InformationManagement.Data.InformationManagementViewModel

@section Styles{
    <link href="~/Content/css/locations/common.css" rel="stylesheet" />
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-6 text-left">
                Published Documents
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <small>
                <table class="table table-bordered" id="tbl-list" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Name</th>
                            <th>Date Published</th>
                            <th>Date Changed</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center w-5">1</td>
                        <td>
                        Document Name<br />
                        <small>CategoryName - DocumentTypeName</small>
                        </td>
                        <td>01-01-2021</td>
                        <td>01-01-2021</td>
                        <td class="w-10 text-center">
                            <div class="btn-group" role="group">
                                <a href="javascript:void(0);" class="btn btn-secondary btn-view" data-id="#" title="Edit"><i class="fa fa-eye"></i></a>
                            </div>
                        </td>      
                    </tr>
                    </tbody>
                </table>
            </small>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-new" tabindex="-1" role="dialog" aria-labelledby="mdl-new" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content f12">
            <div class="modal-header">
                <h5 class="modal-title">New Audit Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="bdy-new">
                <div class="row no-gutters">
                    <div class="col-12 mb-3">
                        <label>Name</label><br />
                        <input type="text" class="form-control" id="fld-new-name" name="Name" data-required="true" placeholder="Name" />
                    </div>
                    <div class="col-12">
                        <label>Description</label><br />
                        <textarea type="text" class="form-control" id="fld-new-description" name="Description" data-required="true" placeholder="Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-new-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btn-new-save" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-edit" tabindex="-1" role="dialog" aria-labelledby="mdl-edit" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content f12">
            <div class="modal-header">
                <h5 class="modal-title">Update Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="bdy-edit">
                <div class="row no-gutters">
                    <div class="col-12 mb-3">
                        <label>Name</label><br />
                        <input type="hidden" id="fld-edit-id" data-required="true" name="Id" />
                        <input type="text" class="form-control" id="fld-edit-name" name="Name" data-required="true" placeholder="Name" />
                    </div>
                    <div class="col-12">
                        <label>Description</label><br />
                        <input type="text" class="form-control" id="fld-edit-description" name="Description" data-required="true" placeholder="Description" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-edit-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btn-edit-save" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>