
@{
    ViewBag.Title = "Audit Universe";
    Layout = "~/Areas/Shared/Views/_Layout.cshtml";
    ViewBag.User = Model.Employee.Fullname;
}

@section Scripts{
    <script src="~/Content/js/audit-management/audit-universe/index.js"></script>
    <script src="~/Content/lib/datatable/jquery.    dataTables.js"></script>
    <script src="~/Content/lib/datatable/dataTables.bootstrap4.js"></script>

}

@model Web.Areas.AuditManagement.Data.AuditManagementViewModel

@section Styles{
    <link href="~/Content/css/locations/common.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">9</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Process
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-exchange-alt fa-2x" style="color: #6B02D2"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">12</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Audit Category
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-radiation fa-2x" style="color: #06B4FB"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">4</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Audit Criteria
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tasks fa-2x" style="color: #31C93C"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Audit Objective
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x" style="color: #DFA467"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Audit Objective
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-sun fa-2x" style="color: #FCE715"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">15</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Audit Plan
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar-alt fa-2x" style="color: #2581EE"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">24</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Audit Schedule
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-sitemap fa-2x" style="color: #AC138C"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">11</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Audits
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-check fa-2x" style="color: #640AC5"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">23/24</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Findings
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-search fa-2x" style="color: #3DCC48"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Auditors
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x" style="color: #E12E48"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">3 - 1 - 2 - 2</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Risk Analysis
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-people-arrows fa-2x" style="color: #418BDD"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">11</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Reports
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-address-book fa-2x" style="color: #2EB2ED"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">11</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Action Plans
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-spinner fa-2x" style="color: #F3C732"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">9</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Risk
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-exclamation-triangle fa-2x" style="color: #FEB00D"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">7</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Control
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-heartbeat fa-2x" style="color: #F8EF23"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Checklist
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-copy fa-2x" style="color: #701FB9"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">-$50</div>
                        <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            Impact Value
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x" style="color: #CD0357"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl col-md-6 mb-4"></div>

    <div class="col-xl col-md-6 mb-4"></div>

    <div class="col-xl col-md-6 mb-4"></div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-6">
                Processes
            </div>
            <div class="col-6">
                <!-- <button id="btn-add" class="btn btn-sm btn-primary fa-pull-right"><i class="fa fa-plus"></i> Add Department</button> -->
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <small>
                <table class="table table-bordered" id="tbl-list" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">S No.</th>
                            <th>Department</th>
                            <th>Process</th>
                            <th>Rating</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center w-5">1</td">
                            <td>Sample Name <br /><small>Sub-name</small></td>
                            <td>Etiam euismod mi quis sapien lobortis, eu consectetur dolor ullamcorper. Morbi varius odio id quam pharetra.</td>
                            <td>Low Risk</td>
                            <td class="w-10 text-center">
                                <div class="btn-group" role="group">
                                    <a href="javascript:void(0);" class="btn btn-secondary btn-edit" data-id="#" title="Edit"><i class="fa fa-edit"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-danger btn-delete" data-id="#" title="Delete"><i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </small>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-new" tabindex="-1" role="dialog" aria-labelledby="mdl-new" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body f12" id="bdy-new">
                <label>Name</label>
                <input type="text" class="form-control mb-2" id="fld-new-name" name="Name" data-required="true" placeholder="Name" />

                <label>Code</label>
                <input type="text" class="form-control mb-2" id="fld-new-code" name="Code" data-required="true" placeholder="Code" />

                <label>Description</label>
                <input type="text" class="form-control mb-2" id="fld-new-description" name="Description" data-required="true" placeholder="Description" />

                <label>Division</label>
                <select class="fld-divisions"></select>
                <input type="hidden" name="DivisionName" data-required="true" id="fld-selected-division-name" />
                <input type="hidden" name="DivisionId" data-required="true" id="fld-selected-division-id" />

                <label>Head</label>
                <select class="fld-hods"></select>
                <input type="hidden" name="HODName" id="fld-selected-hod-name" />
                <input type="hidden" name="HODId" id="fld-selected-hod-id" />

                <label>Level</label>
                <select class="fld-levels"></select>
                <input type="hidden" name="LevelName" data-required="true" id="fld-selected-level-name" />
                <input type="hidden" name="LevelId" data-required="true" id="fld-selected-level-id" />


            </div>
            <div class="modal-footer">
                <button type="button" id="btn-new-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btn-new-save" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-edit" tabindex="-1" role="dialog" aria-labelledby="mdl-edit" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="bdy-edit">
                <input type="hidden" id="fld-edit-id" name="Id" data-required="true" />
                <input type="text" class="form-control mb-2" id="fld-edit-name" name="Name" data-required="true" placeholder="Name" />
                <input type="text" class="form-control" id="fld-edit-description" name="Description" data-required="true" placeholder="Description" />
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-edit-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btn-edit-save" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>


